.Profile-Container{
    position: relative;
    min-height: 100vh;
    display: flex;
}

.SideMenu-Container{
    width: 386px;
    min-height: 832px;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    margin: 50px 0px 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.User{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px; 
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.User-img{
    margin-top: 50px;
    width: 113px;
    height: 113px;
    border-radius: 110px;
    background-image:url("Images/User.png");
}

.Navigator ul{
    list-style: none;
    margin: 50px;
}

.Navigator ul li a{
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: rgba(128, 128, 128, 1); /* Default color for all links */
}

.Navigator ul li:nth-child(1) a{
    color: black; 
    font-weight: 600;
}

.Button-Section{
    margin-top: auto;
    margin-bottom: auto;   
}

.Logout-Button{
    border:none;
    background-color: transparent;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    color: rgba(206, 17, 38, 1);
    cursor: pointer;
    
}

.Main-Container{
    width: 874px;
    min-height: 832px;
    border-radius: 10px;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 50px 5% 50px 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.Main-Container h1{
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;

}

.User-Info{
    display: flex;
    flex-direction: column;
    width: 753px;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.User-Info .Name-fields, .Id-Field{
    display: flex;
    gap: 62px;
}

.Gender-Field{
    width: 350px;
}


.User-Info input{
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    background-color: rgb(242,244,248);
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(193, 199, 205, 1);
    border-radius: 5px;
    height: 48px;
}

.Name-fields input, .Id-Field input, .Gender-Field input{
    width: 345px;
}

.Label-Input{
    margin: 20px 0;
}

.Buttons{
    position: absolute;
    bottom: 50px;
}

.Button-ChangePass{
    position: absolute;
    right: 50px;
    bottom: 50px;
}

 .Edit{
    width: 184px;
    height: 50px;
    color: white;
    background-color: rgba(1, 88, 152, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChangePass{
    width: 184px;
    height: 50px;
    color: white;
    background-color: rgba(1, 88, 152, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}




